<input ng-model="dc.format">
<div my-current-time="dc.format"></div>

<jrb-panel>Some unique text</jrb-panel>
<jrb-panel><div jrb-address="dc.addresses[0]"></div></jrb-panel>

<div ng-repeat="addr in dc.addresses">
    <div jrb-address="addr"></div>
    <hr>
</div>
<button ng-click="dc.addAddress()">Add</button>
<div ng-bind="dc.addresses | json"></div>