<input ng-model="counter">
<span ng-repeat="x in boxes">
    {{x.i}}
</span>
<hr>

First: <input ng-model="name.first">
<div ng-bind="name.first"></div>
Original name: <span ng-bind="::name.first"></span>
<hr>
Last: <input ng-model="name.last">
<div ng-bind="name.last"></div>
<div ng-bind="fullName()"></div>