<div>
    <input ng-model="mc.name.first">
    <div ng-bind="mc.name.first"></div>
    <hr>
    <div ng-controller="SecondController">
        Main:
        <input ng-model="mc.name.first">
        <div ng-bind="mc.name.first"></div>
        Second:
        <input ng-model="sc.name.first">
        <div ng-bind="sc.name.first"></div>
    </div>
    <a ui-sref="name.details" class='click-me'>Go to the child state</a>
    <ui-view></ui-view>
</div>
